body {
  padding: 10px;
  font-family: sans-serif;
}

.in {
	background-color: #5fcc66;
}

.out {
	background-color: #ea5757;
}

.delete-transaction {
	float: right;
	background: none;
	border: none;
	margin: 0px;
}

li {
	margin: 10px;
	padding: 4px;
	list-style: none;
}
